h1{
    text-align: center;
    color: rgb(25, 58, 148);
    font-style: initial;
}

body{
    background-color: lavender;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
form{
      
      width: 100%;
}
table, th, td { 
    border:1px solid black; 
  } 
  h2{
      text-align: center;
  }
  th{
      background-color: slategray;
  }
  button{
      font-style: normal;
      background-color: cornflowerblue;
      
  }
  .papar {
    margin-left: 10%;
    width: 74%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 20px;
    font-family: Arial;
    background-color: rgb(167, 114, 0);
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
