h1{
    text-align: center;
    color: rgb(25, 58, 148);
    font-style: initial;
}

body{
    background-color: lavender;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
form{
      
      width: 100%;
}
table, th, td { 
    border:1px solid black; 
  } 
  h2{
      text-align: center;
  }
  th{
      background-color: slategray;
  }
  button{
      font-style: normal;
      background-color: cornflowerblue;
      
  }
