h1{
    text-align: center;
    color: rgb(25, 58, 148);
}
p{
    text-align: center;
    font-style: oblique;
    
}
body{
    background-color: lavender;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
